title {color: royalblue;}
h1 {color: royalblue;}

body {background-color: rgb(202, 187, 187); font-family: Arial, Helvetica, sans-serif;}

header {background-color: rgb(217, 255, 0);}

h2 {background-color: dodgerblue; width: 9%;}
h1 {color: rgb(199, 143, 22);}
    p {background-color: rgb(158, 214, 214); width: auto;}
h2 {color: rgb(51, 255, 0);}
h3 {background-color: dodgerblue; width: 9%; color: rgb(51, 255, 0)}
nav > ul {line-height: 2em; list-style-type: none; padding-left: 5pt;}

ol {background-color: gold; width: 40%;}

section {background-color: darkorange; width: 75%; font-size: 1.2em;}

footer {background-color: rgb(229, 255, 0); width: 8%;}